QLOT_Nhom6/QLOT_Nhom6/src/conf/xml-resources/web-service-references/NetBankingWS/wsdl/localhost_8080/NetBankingWS/NetBankingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="NetBankingWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/NetBankingWS/NetBankingWS?xsd=1"/>
</xsd:schema>
</types>
<message name="checkOrder">
<part name="parameters" element="tns:checkOrder"/>
</message>
<message name="checkOrderResponse">
<part name="parameters" element="tns:checkOrderResponse"/>
</message>
<message name="finishOrder">
<part name="parameters" element="tns:finishOrder"/>
</message>
<message name="finishOrderResponse">
<part name="parameters" element="tns:finishOrderResponse"/>
</message>
<message name="checkVisa">
<part name="parameters" element="tns:checkVisa"/>
</message>
<message name="checkVisaResponse">
<part name="parameters" element="tns:checkVisaResponse"/>
</message>
<message name="finishVisa">
<part name="parameters" element="tns:finishVisa"/>
</message>
<message name="finishVisaResponse">
<part name="parameters" element="tns:finishVisaResponse"/>
</message>
<portType name="NetBankingWS">
<operation name="checkOrder">
<input wsam:Action="http://ws/NetBankingWS/checkOrderRequest" message="tns:checkOrder"/>
<output wsam:Action="http://ws/NetBankingWS/checkOrderResponse" message="tns:checkOrderResponse"/>
</operation>
<operation name="finishOrder">
<input wsam:Action="http://ws/NetBankingWS/finishOrderRequest" message="tns:finishOrder"/>
<output wsam:Action="http://ws/NetBankingWS/finishOrderResponse" message="tns:finishOrderResponse"/>
</operation>
<operation name="checkVisa">
<input wsam:Action="http://ws/NetBankingWS/checkVisaRequest" message="tns:checkVisa"/>
<output wsam:Action="http://ws/NetBankingWS/checkVisaResponse" message="tns:checkVisaResponse"/>
</operation>
<operation name="finishVisa">
<input wsam:Action="http://ws/NetBankingWS/finishVisaRequest" message="tns:finishVisa"/>
<output wsam:Action="http://ws/NetBankingWS/finishVisaResponse" message="tns:finishVisaResponse"/>
</operation>
</portType>
<binding name="NetBankingWSPortBinding" type="tns:NetBankingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="finishOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkVisa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="finishVisa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NetBankingWS">
<port name="NetBankingWSPort" binding="tns:NetBankingWSPortBinding">
<soap:address location="http://localhost:8080/NetBankingWS/NetBankingWS"/>
</port>
</service>
</definitions>